- subpages = pages.group_by { |page| page.data.subcategory }
- category_anchor = category.parameterize

%h2.header-link-title{id: category_anchor }
  = category
  %a.header-link-anchor{ href: "##{category_anchor}" }

= partial "engineering/security/security-operations/trustandsafety/workflows", locals: { parent: category, pages: subpages }

