- if topic.related_videos != nil
  
  %h2.u-margin-top-md.u-margin-bottom-sm.text-center
    Related Videos

  .video-slider
    - topic.related_videos.each do |video|
      = partial "includes/components/video-carousel/video-item.html.haml", locals: {name: video.name, title: video.title, photourl: video.photourl, videolink: video.video_link}

  - topic.related_videos.each do |video|
    = partial "includes/components/video-carousel/video-carousel-modal.html.haml", locals: {videolink: video.video_link, title: video.title}
   